#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --mainColor: palegoldenrod;
}

body {
  background-color: aliceblue;
}

.container {
  display: flex;
}

.card {
  background-color: palegoldenrod;
  padding: 2rem 2rem;
  border-radius: 20px;

  margin: 10px;
  cursor: pointer;
  font-size: 32px;

  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.card:hover {
  background-color: black;
  color: white;
  transform: rotate(360deg) scale(2);
}
